<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aad_appId"
         value="d4c6115e-1797-4bdf-9987-bff7e8ecc481" />
    <add key="pfxthumbprint"
         value="792F7A2662626C57073A5748386D19D1037368EF" />
    <add key="kv_secret_uri"
         value="https://wppres1kv2.vault.azure.net/secrets/connectionString" />
    <add key="kv_secret_uri_versioned"
         value="https://wppres1kv2.vault.azure.net/secrets/connectionString/93797ccebe624f7dac9a40af9f01a4e4" />
    <add key="kv_dnsname"
         value="https://wppres1kv2.vault.azure.net/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.WebKey"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0"
                         newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
