<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aad_appId" value="3da2ec55-4670-4e30-b7f2-6c4a29ec9a3f" />
    <add key="aad_clientsecret" value="/nKN++8?2m2LUUTdWva5bwcZHR__slTr" />
    <add key="kv_dnsname" value="dsnname" />
    <add key="kv_key" value="key" />
  </appSettings>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
