<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aad_appId"
         value="c8e4bb50-95a5-4ca6-9d77-e7ec76906edd" />
    <add key="connectionString"
         value="Server=tcp:wppres1sqlserver1.database.windows.net,1433;Initial Catalog=wppres1db1;Persist Security Info=False;User ID=dspano;Password=@X1y2z3w4z5;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Column Encryption Setting=Enabled" />
    <!--<add key="connectionString"
         value="Server=tcp:wppres1sqlserver1.database.windows.net,1433;Initial Catalog=wppres1db1;Persist Security Info=False;User ID=dspano;Password=@X1y2z3w4z5;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
    <add key="pfxthumbprint"
         value="792F7A2662626C57073A5748386D19D1037368EF" />    
    <add key="kv_dnsname"
         value="https://wppres1kv1.vault.azure.net/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.WebKey"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0"
                         newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
