<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aad_appId"
         value="c7ad385c-f885-462a-bba9-27c7b6747ce4" />
    <add key="pfxthumbprint"
         value="792F7A2662626C57073A5748386D19D1037368EF" />
    <add key="kv_secret_uri"
         value="https://wppres1kv1.vault.azure.net:443/secrets/connectionString1" />
    <add key="kv_secret_uri_versioned"
         value="https://wppres1kv1.vault.azure.net/secrets/connectionString1/ec13a7467f7b45d99315c7a772b4a50a" />
    <add key="kv_dnsname"
         value="https://wppres1kv1.vault.azure.net/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider"
                 enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri=""
             cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0"
                         newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Services.AppAuthentication"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.0"
                         newVersion="1.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>