<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="connectionString"
         value="Server=tcp:wppres1sqlserver1.database.windows.net,1433;Initial Catalog=wppres1db1;Persist Security Info=False;User ID=dspano;Password=@X1y2z3w4z5;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Column Encryption Setting=Enabled" />-->
    <add key="connectionString"
         value="Server=tcp:wppres1sqlserver1.database.windows.net,1433;Initial Catalog=wppres1db1;Persist Security Info=False;User ID=dspano;Password=@X1y2z3w4z5;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>

<!--Server=tcp:wppres1sqlserver1.database.windows.net,1433;Initial Catalog=wppres1db1;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;-->
<!--Server=tcp:wppres1sqlserver1.database.windows.net,1433;Initial Catalog=wppres1db1;Persist Security Info=False;User ID=dspano;Password=@X1y2z3w4z5;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;-->
